// PRIMARY COLOR
$color-primary: #0000ff;
$color-primary-light: #add8e6;
$color-primary-dark: #000080;

// SECONDARY COLOR
$color-secondary-light: #55c57a;
$color-secondary-dark: #7ed56f;

// TERTIARY COLOR
$color-tertiary-light: #ffb900;
$color-tertiary-dark: #ff7730;

// Background color
$color-grey-dark: #777;
$color-grey-dark-1: rgb(180, 180, 180);
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-black: #000;

$color-red: rgba(236, 9, 9, 0.93);

$default-font-size: 1.6rem;
